textarea {
    min-height: 400px;
}

#emaildisplay{
    /*background-color: rgb(212, 233, 233);*/
    margin: 2px 2px 2px 2px;
}

#id{
    /*margin: 5px 5px 5px 5px;
    padding: 20px 20px 20px 20px;*/
    display: none;
}
#recipients{
    margin: 5px 5px 5px 5px;
    padding: 20px 20px 20px 20px;
    display: inline;
}
#subject{
    margin: 5px 5px 5px 5px;
    padding: 20px 20px 20px 20px;
    display: inline;
}
#timestamp{
    margin: 5px 5px 5px 5px;
    padding: 20px 20px 20px 20px;
    display: inline;
}

#archive{
    margin: 5px 5px 5px 5px;
    padding: 20px 20px 20px 20px;
    display: inline;
    align-items: right;
}

#email-details{
    margin: 2px 200px 2px 200px;
}

#emailbody{
    margin-top: 10px;
}